.content_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}
.content_holder {
  margin-top: 50px;
  @media screen and (max-width: 838px) {
    flex-direction: column;
  }
}
