.modal_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  right: -3rem;
  top: 3.5rem;
  width: 360px;
  height: auto;
  z-index: 10;
  box-shadow: 0 28px 38px -10px #00000040;
}
