.header {
  margin: 10px;
  background-color: #fff;
  @media screen and (max-width: 761px) {
    margin: 0;
    position: sticky;
    top: -8px;
    z-index: 2;
  }
  @media screen and (max-width: 520px) {
    padding: 0 10px;
  }
}
.header_divider {
  margin: 0;
  @media screen and (max-width: 761px) {
    display: none;
  }
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 40px 0px 40px;
  @media screen and (max-width: 761px) {
    padding: 0px;
  }
}
.collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.links_container {
  @media screen and (max-width: 761px) {
    display: none;
  }
}
.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
li {
  list-style-type: none;
  padding: 0px 10px 0px 10px;
}
.card-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.avatar_img {
  width: 40px;
  height: auto;
  object-fit: cover;
  @media screen and (max-width: 520px) {
    width: 30px;
  }
}
.cart_counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 70px;
  background: hsl(26, 100%, 55%);
  border-radius: 12px;
  padding: 8px 8px 10px 8px;
  color: #fff;
  top: 0px;
  height: 5px;
  @media screen and (max-width: 520px) {
    right: 63px;
    padding: 6px 6px 8px 6px;
    top: 3px;
  }
}
