.header {
  margin: 10px;
  background-color: #fff;
  @media screen and (max-width: 761px) {
    margin: 0;
    position: sticky;
    top: -8px;
    z-index: 2;
  }
}
.header_divider {
  margin: 0;
  @media screen and (max-width: 761px) {
    display: none;
  }
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 40px 0px 40px;
  @media screen and (max-width: 761px) {
    padding: 0px;
  }
}
.collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.links_container {
  @media screen and (max-width: 761px) {
    display: none;
  }
}
.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
li {
  list-style-type: none;
  padding: 0px 10px 0px 10px;
}
.card-user {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-left: auto;
}
